@model ASP_P26.Models.User.UserProfilePageModel
@{
    ViewData["Title"] = "Profile";
}

<div class="text-center">
    <h1 class="display-4">Кабінет користувача</h1>
</div>

<div class="row">
    <div class="col col-xxl-5 offset-xxl-2   col-xl-6 offset-xl-2 col-lg-7  col-md-8    col-sm-10">
        @if (Model.IsPersonal == null)
        {
            <div class="alert alert-danger" role="alert">
                Даний профіль не існує або був видалений
            </div>
        }
        else
        {
            <div class="row">
                <div class="col">Ім'я</div>
                <div class="col" data-editable="Name">@Model.Name</div>
            </div>
            <div class="row">
                <div class="col">На сайті з</div>
                <div class="col">@Model.RegisteredAt</div>
            </div>
            <div class="row">
                <div class="col">Email</div>
                <div class="col">
                    <span data-editable="Email">@Model.Email</span>                        
                    *доступно тільки після входу
                </div>
            </div>
            if (Model.IsPersonal ?? false)
            {
                <div class="row">
                    <div class="col">Дата народження</div>
                    <div class="col">@Model.Birthdate</div>
                </div>
                <div class="row">
                    <div class="col"><button id="edit-profile-btn" title="Редагувати дані" class="btn btn-outline-warning"><i class="bi bi-pen"></i></button></div>
                    <div class="col"><button id="delete-profile-btn" title="Видалити профіль" class="btn btn-outline-danger"><i class="bi bi-trash"></i></button></div>
                </div>
                
            }
        }

    </div>

    <div class="col">
        @if (Model.IsPersonal ?? false)
        {
            <h2>Історія покупок</h2>
            foreach(var cart in Model.Carts.OrderByDescending(c => c.CreatedAt))
            {
                String bg = "btn-outline-primary";
                if (cart.PaidAt != null) bg = "btn-outline-success";
                if (cart.DeletedAt != null) bg = "btn-outline-danger";

                <a class="btn m-2 @bg" 
                   asp-controller="Shop" asp-action="Cart" asp-route-id="@cart.Id">
                    @cart.CreatedAt.ToString("dd.MM.yyyy")
                    @cart.CartItems.Count() товарів
                </a>
            }
        }
    </div>
</div>

